* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: absolute;
    top: 0;

    nav {
        width: 100%;
        background: transparent;
        margin: auto;

        .collapseDiv {
            justify-content: flex-end;
            width: 80%;

            ul {
                gap: 15px;
                font-weight: 700;

            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#friendly {
    width: 100%;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .formtitle {
        min-height: 200px;
        width: 100%;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.395);
        }
    }
}

#products {
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    #product {
        display: flex;
        align-items: center;
        justify-content: center;
.boxDiv{
        margin-bottom: 20px;
    }
        .addtobasket {
            padding: 7px 17px;
            color: white;
            font-size: 12px;
            border-color: cadetblue;
            background-color: cadetblue;
            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .button {
        min-height: 70px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;

        #pages {

            background-color: black;
            color: white;
            font-size: 12px;
            padding: 7px 17px;
        }
    }
}
#popular{
    
    img{
        width: 200px;
    min-height: 260px;
    }
}
